<h1>Add A Run</h1>

<form method="POST" action="/runs">
    <p>
        <label for="date">Date:</label><br>
        <label for="month">Month:</label>
        <input type="text" name="month" id="month" value="<%= Date.today.strftime('%m') %>" size="2" maxlength="2">

        <label for="day">Day:</label>
        <input type="text" name="day" id="day" value="<%= Date.today.strftime('%d') %>"size="2" maxlength="2">

        <label for="year">Year:</label>
        <input type="text" name="year" id="year" value="<%= Date.today.strftime('%Y') %>" size="4" maxlength="4">
    </p>
    <p>
        <label for="email">Duration:</label>
        <input type="text" name="email" id="email"> Minutes
    </p>
    <p>
        <label for="distance">Distance:</label>
        <input type="text" name="distance" id="distance" value="0.00"> Miles
    </p>
    <p>
        <label for="pace">Pace:</label>
        <select id="pace" name="pace">
            <option value="Run">Run</option>
            <option value="Jog">Jog</option>
            <option value="Walk">Walk</option>
            <option value="Intervals">Intervals</option>
        </select>
    </p>
    <input type="submit" value="Add">
</form>
