
<div class="card mx-auto text-center bg-dark text-white" style="max-width: 21rem;">
    <div class="card-header">
        Add A Run
    </div>
    <div class="card-body">
        <form method="POST" action="/runs" style="width: 18rem;">
    <div class="form-group">
        <div class="row">
            <div class="col">
               <label>Date</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control text-center" name="month" id="month" value="<%= Date.today.strftime('%m') %>" size="2" maxlength="2">
                <small><label for="month">Month</label></small>
            </div>
            <div class="col">
                <input type="text" class="form-control text-center" name="day" id="day" value="<%= Date.today.strftime('%d') %>"size="2" maxlength="2">
                <small><label for="day">Day</label></small>
            </div>
            <div class="col">
                <input type="text" class="form-control text-center" name="year" id="year" value="<%= Date.today.strftime('%Y') %>" size="4" maxlength="4">
                <small><label for="day">Year</label></small>
            </div>
        </div>    
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label>Duration</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control text-center" name="hours" id="hours" value="00" size="2" maxlength="2">
                <small><label for="month">Hours</label></small>
            </div>
            <div class="col">
                <input type="text" class="form-control text-center" name="minutes" id="minutes" value="00"size="2" maxlength="2">
                <small><label for="minutes">Minutes</label></small>
            </div>
            <div class="col">
                <input type="text" class="form-control text-center" name="seconds" id="seconds" value="00" size="2" maxlength="2">
                <small><label for="seconds">Seconds</label></small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="distance">Distance</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" name="distance" id="distance" value="0.00">
                    <div class="input-group-append">
                        <span class="input-group-text">Miles</span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="pace">Pace</label>
        <select class="form-control" id="pace" name="pace">
            <option value="Run">Run</option>
            <option value="Jog">Jog</option>
            <option value="Walk">Walk</option>
            <option value="Intervals">Intervals</option>
        </select>
    </div>
    <div class="form-group">
        <a href="/runs" class="btn btn-danger">Cancel</a>
        <input type="submit" class="btn btn-success" value="Add">
    </div>
</form>
</div>
</div>
