<!doctype html>
<html lang="en">
  <head>
	<title>RunLogger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">RunLogger</a>
        </nav>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>RunLogger</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>

  </body>
</html>
