<!doctype html>
<html lang="en">
  <head>
	<title>RunLogger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-top: 20px; border-radius: 0.3rem;">
            <a class="navbar-brand" href="#">RunLogger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="nav navbar-nav ml-auto">
                <% if !logged_in?%>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/new">Sign Up</a>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <a class="nav-link" href="/runs">Run Log</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/runs/new">Add Run</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Log Out</a>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container rounded" id="main-content">
            <%= yield %>
          </div>
        </div>
      </div>

      <footer class="branding">
        <small>&copy; 2020 <strong>RunLogger</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap.bundle.js"></script>

  </body>
</html>
